* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.navbar {
  width: 100%;
  padding: 25px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 0.95rem;
  transition: 0.2s ease;
}

.nav-links a:hover {
  opacity: 0.6;
}

.get-started-btn {
  padding: 10px 22px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-size: 0.9rem;
  transition: 0.25s;
}

.get-started-btn:hover {
  opacity: 0.85;
}

.hero {
  height: 100vh;
  width: 100%;
  padding: 0 8%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-image: url("images/Untitled design (1).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 90px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.05rem;
  color: #333;
  margin-bottom: 30px;
  line-height: 1.6;
}


.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 0.95rem;
  transition: 0.25s;
}

.primary {
  background: black;
  color: white;
}

.primary:hover {
  opacity: 0.85;
}

.secondary {
  border: 1.5px solid black;
  color: black;
}

.secondary:hover {
  background: black;
  color: white;
}

.divider {
  height: 2px;
  width: 100%;
  background-color: #e3e3e3;
}


.features {
  width: 100%;
  padding: 150px 0;
  background-image: url("images/fade-start-line.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding-left: 8%;
  padding-right: 8%;
}


.features-title {
  font-size: 50px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
}

.features-subtitle {
  font-size: 1rem;
  color: #555;
  /* max-width: 500px; */
  text-align: left;
  margin-bottom: 60px;
  line-height: 1.6;
}


.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 55px;
}


.feature-box {
  display: flex;
  flex-direction: column;
}

.feature-img {
  width: 90%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: 18px;
}

.feature-box h3 {
  font-size: 25px;
  margin-bottom: 8px;
  font-weight: 400;
}

.feature-box p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.55;
}


.section3 {
  width: 100%;
  padding: 200px 0px;
  background-image: url("images/line-light-version.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding-left: 8%;
  padding-right: 8%;
}

.title-sec3 {
  font-size: 55px;
  line-height: 1.3;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}

.section4 {
  width: 100%;
  padding: 150px 0px;
  background-image: linear-gradient(to bottom, #d7e7ff, #e4ecff, #eff2ff, #f8f8ff, #ffffff);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding-left: 8%;
  padding-right: 8%;
}

.section4 h2 {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 50px;

}

.footer {
  background: #f3f3f3;
  padding: 60px 8%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-left h3 {
  font-size: 24px;
  margin-bottom: 8px;
}

.footer-links {
  display: flex;
  gap: 25px;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  transition: 0.2s ease;
  font-size: 0.95rem;
}

.footer-links a:hover {
  opacity: 0.6;
}

.footer-bottom {
  margin-top: 25px;
  text-align: center;
  font-size: 0.9rem;
  color: #777;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}


.navbar {
  width: 100%;
  padding: 22px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 50;
  border-bottom: 1px solid #eee;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 35px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 0.95rem;
  transition: 0.2s ease;
}

.get-started-btn {
  padding: 10px 22px;
  background: black;
  color: white !important;
  text-decoration: none;
  border-radius: 30px;
  font-size: 0.9rem;
}

.desktop-only {
  display: block;
}
.mobile-only {
  display: none;
}


.hamburger {
  width: 28px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  width: 100%;
  height: 3px;
  background: black;
  border-radius: 10px;
  transition: 0.3s;
}


.nav-links {
  transition: max-height 0.3s ease;
}


.footer {
  background: #f6f6f6;
  padding: 60px 8%;
  margin-top: 80px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-column h3,
.footer-column h4 {
  margin-bottom: 12px;
  font-weight: 600;
}

.footer-column a {
  display: block;
  margin-bottom: 8px;
  color: #444;
  text-decoration: none;
  font-size: 0.95rem;
  transition: 0.2s ease;
}

.footer-column a:hover {
  opacity: 0.6;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  color: #777;
  font-size: 0.9rem;
}

/* Mobile Navbar */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }


  .nav-links {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background: white;
    padding: 20px 0;
    gap: 20px;
    border-bottom: 1px solid #eee;
  }

  .nav-links.active {
    display: flex;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
