/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* NAVBAR */
.navbar {
  width: 100%;
  padding: 25px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 0.95rem;
  transition: 0.2s ease;
}

.nav-links a:hover {
  opacity: 0.6;
}

.get-started-btn {
  padding: 10px 22px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-size: 0.9rem;
  transition: 0.25s;
}

.get-started-btn:hover {
  opacity: 0.85;
}

/* HERO SECTION */
.hero {
  height: 100vh;
  width: 100%;
  padding: 0 8%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-image: url("images/Untitled design (1).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 90px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.05rem;
  color: #333;
  margin-bottom: 30px;
  line-height: 1.6;
}

/* HERO BUTTONS */
.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 0.95rem;
  transition: 0.25s;
}

.primary {
  background: black;
  color: white;
}

.primary:hover {
  opacity: 0.85;
}

.secondary {
  border: 1.5px solid black;
  color: black;
}

.secondary:hover {
  background: black;
  color: white;
}

.divider {
  height: 2px;
  width: 100%;
  background-color: #e3e3e3;
}


.features {
  width: 100%;
  padding: 150px 0;
  background-image: url("images/fade-start-line.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding-left: 8%;
  padding-right: 8%;
}


.features-title {
  font-size: 50px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
}

.features-subtitle {
  font-size: 1rem;
  color: #555;
  /* max-width: 500px; */
  text-align: left;
  margin-bottom: 60px;
  line-height: 1.6;
}


.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 55px;
}

/* Minimal clean card */
.feature-box {
  display: flex;
  flex-direction: column;
}

.feature-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: 18px;
}

.feature-box h3 {
  font-size: 25px;
  margin-bottom: 8px;
  font-weight: 400;
}

.feature-box p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.55;
}


.section3 {
  width: 100%;
  padding: 150px 0;
  background-image: url("images/line-light-version.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding-left: 8%;
  padding-right: 8%;
}